@model IEnumerable<CustomerPhoneNumber_2.Models.PhoneNumber>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Label("customerId", htmlAttributes: new { @class = "control-label col-md-2" })
@*<div class="col-md-10">
    <input type="text" id="customerId" />       <input type="submit" value="Search by customer" class="btn btn-default" onclick="search(customerId.value)" /> 
 </div>*@
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="text" id="customerId" /> 
        <input type="submit" value="Search by customer" class="btn btn-default"  onclick="search(customerId.value)"/> 
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
